/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.env
.licenses/
/quests/
/dist/quests/
/output/
/dist/output/
/translator_logs/
/dist/mods/
